* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}

/* nav bar start  */
.fa-brands {
  margin-left: 0.625rem;
  color: #f61c0d;
}

.fa-facebook {
  color: #3b5998;
}

.margin_left_right {
  margin-left: 10%;
  margin-right: 10%;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_title {
  margin-left: 0.625rem;
  color: #0b0223;
  font-size: 2.813rem;
  font-style: normal;
  font-weight: 700;
}

.nav_title span {
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_anchor a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  margin-right: 2rem;
}

.nav_icon_section {
  display: flex;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.063rem 1.5rem;
}

.nav_text {
  color: #3c354f;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}

/* nav bar end  */
/* hader section start  */

.header_container {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.header_sub_title {
  color: #0b0223;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
}

.header_title {
  font-size: 5.938rem;
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_icon_text {
  margin-bottom: 1.063rem;
  color: #534c64;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
}

.primary_btn {
  display: inline-block;
  margin-top: 2.563rem;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 1.875rem;
  border: none;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  text-decoration: none;
}

.secondary_btn {
  margin-left: 1.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  border-radius: 1.875rem;
  border: none;
  padding: 1rem 2rem;
  background: #4ec5f7;
  text-decoration: none;
}

.header_image img {
  width: 100%;
}

/* header section end   */
/* main section start  */
/* funny videos  */
.funny_videos_container {
  margin-top: 10%;
}

.funny_videos_title {
  color: #0b0223;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2%;
}

.funny_videos_title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny_videos_description {
  color: #534c64;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 4%;
}

.funny_videos_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.funny_videos_card_img {
  width: 100%;
}

.funny_videos_card_img_title {
  color: #534c64;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

/* play instant section  */
.play_instant_container {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

#play_instant_title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play_instant_title {
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  /* margin-bottom: 2%; */
}

.play_instant_description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10%;
}

.play_instant_image {
  position: relative;
}

#play_instant_image_2 {
  position: absolute;
  top: 60%;
  left: -5%;
}

/* main section end  */

/* media query start  */
/* for mobile  */
/* nav bar  */
@media screen and (max-width: 576px) {
  .nav_container {
    flex-direction: column;
  }

  .nav_btn {
    flex-direction: column;
  }

  .nav_anchor a {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /* header section  */
  .header_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  /* funny videos card  */
  .funny_videos_card {
    grid-template-columns: repeat(1, 1fr);
  }

  /* play instant section */
  .play_instant_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .play_instant_title, .play_instant_description {
    text-align: center;
  }
}
/* media query end  */

.display {
  display: none;
}
