* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}

.fa-brands {
  margin-left: 10px;
  color: #f61c0d;
}

.fa-facebook {
  color: #3b5998;
}

.margin_left_right {
  margin-left: 10%;
  margin-right: 10%;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_title {
  margin-left: 10px;
  color: #0b0223;
  font-size: 2.813rem;
  font-style: normal;
  font-weight: 700;
}

.nav_title span {
  color: #ff42a5;
}

.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_btn a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-right: 2rem;
}

.nav_icon_section {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.063rem 1.5rem;
}

.nav_text {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* nav bar end  */

/* media query start  */
/* for mobile  */
/* nav bar  */
@media screen and (max-width: 576px) {
  .nav_container{
    flex-direction: column;
  }
  /* .nav_logo{
    justify-content: center;
  } */

  .nav_btn{
    flex-direction: column;
  }

  .nav_anchor a{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}
/* media query end  */

.display{
  display: none;
}
